<% if Current.user %>
    Logged in as: <%= Current.user.email %><br>
    <%= link_to 'Edit Password', edit_password_path %>
    <%= button_to 'Logout', logout_path, method: :delete %><br>
    
    <h1>Home works</h1>
    <p>
        Find a <b>homework</b> and help the person to do the work
        <%= link_to 'Post your work', new_post_path %>
    </p>
    <%= link_to 'My posts', posts_path %>


    <%= render @posts %>

    <% else %>
        <%= link_to 'Sign Up', sign_up_path %>
    or
        <%= link_to 'Login', sign_in_path %>
<% end %>